* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container#blur.active {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}
#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: black;
  /* visibility: hidden; */
  opacity: 0;
  transition: 0.5s;
}
#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  border: 10px solid red;
}
